.additional-product-card {
  padding: 14px 0 18px 0;
  border-top: 1px solid #cecece;

  &:last-child {
    border-bottom: 1px solid #cecece;
  }
}

.additional-product-card__title {
  margin: 0 0 12px 0;
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @very-dark-gray;
  text-transform: uppercase;
}

.additional-product-card__content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px 0;
  font-family: @complementary-font;
  font-size: 14px;
  line-height: 14px;
  color: @second-line-text-color;
}

.additional-product-card__price {
  text-transform: uppercase;
}

.additional-product-card__order {
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;
}
