.additional-product-card {
  padding: 14px 0 18px 0;
  border-top: 1px solid #cecece;

  &:last-child {
    border-bottom: 1px solid #cecece;
  }

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 38px;
    border: 1px solid @light-gray;
  }

  @media @desktop {
    align-items: center;
    padding: 15px 0 16px 0;
    border-right: none;
    border-left: none;
  }

  &:not(:last-child) {
    @media @tablet {
      border-bottom: none;
    }
  }
}

.additional-product-card__title {
  margin: 0 0 12px 0;
  font-family: @main-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: @very-dark-gray;
  text-transform: uppercase;

  @media @tablet {
    width: 50%;
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 20px;
  }

  @media @desktop {
    width: 36.4%;
    margin-bottom: 0;
  }
}

.additional-product-card__content {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px 0;
  font-family: @complementary-font;
  font-size: 14px;
  line-height: 14px;
  color: @second-line-text-color;

  @media @tablet {
    justify-content: flex-end;
    width: 50%;
    margin-bottom: 22px;
    padding: 2px 0;
    font-size: 16px;
    line-height: 20px;
  }

  @media @desktop {
    justify-content: space-between;
    width: 32%;
    margin-bottom: 0;
    margin-right: 38px;
    padding: 0;
    padding-top: 7px;
  }
}

.additional-product-card__price {
  text-transform: uppercase;

  @media @tablet {
    width: 29%;
    text-align: right;
  }
}

.additional-product-card__order {
  padding: 10px 0;
  font-size: 16px;
  line-height: 20px;

  @media @tablet {
    width: 100%;
  }

  @media @desktop {
    width: 27.3%;
  }
}
