.address__text {
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  color: @first-line-text-color;
  text-transform: uppercase;
}

.address__location {
  font-family: @complementary-font;
  font-size: 14px;
  line-height: 20px;
  color: @second-line-text-color;
}
