.catalog-main {
  padding-top: 14px;

  @media @tablet {
    padding-top: 0;
  }
}

.catalog-main__title {
  margin: 0 @indent-mobile 29px @indent-mobile;
  font-family: @main-font;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: @first-line-text-color;

  @media @tablet {
    margin: 0 @indent-tablet 98px @indent-tablet;
    font-size: 60px;
  }

  @media @desktop {
    max-width: @desktop-wrapper;
    margin: 0 auto 150px auto;
    padding: 17px 0;
  }
}
