.catalog {
  margin-bottom: 30px;

  @media @tablet {
    padding: 70px @indent-tablet;
  }
}

.catalog__list {
  .clean-list();

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
