.demonstrating-example {
  padding: 15px @indent-mobile 37px @indent-mobile;
  background-color: @demo-example-bg-color;

  @media @tablet {
    padding: 42px @indent-tablet 0 @indent-tablet;
    border-top: 1px solid #e7e7e7;
    background: @white linear-gradient(to bottom, @white 57%, @very-light-gray 57%);
  }
}

.demonstrating-example__title {
  margin: 0;
  font-family: @main-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @first-line-text-color;

  @media @tablet {
    margin-bottom: 64px;
    font-size: 60px;
  }
}

.demonstrating-example__promo-text {
  margin: 25px 0 25px 0;
  font-family: @complementary-font;
  font-size: 14px;
  line-height: 18px;
  color: @second-line-text-color;

  @media @tablet {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}

.demonstrating-example__infographic-wrapper {
  background-color: inherit;

  @media @tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 86px;
  }
}

.demonstrating-example__expenses {
  margin: 0 0 43px 0;
  font-family: @main-font;
  font-size: 14px;
  line-height: 20px;
  color: @first-line-text-color;
  text-transform: uppercase;
  text-align: center;

  @media @tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 25%;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: right;

    & span {
      display: block;
      margin-bottom: 11px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.demonstrating-example__img-wrapper {
  margin-bottom: 33px;
}

.demonstrating-example__img {
  display: block;
  width: 311px;
  height: 232px;
  margin: 0 auto;

  &--slim {
    display: none;
  }
}
