.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 21px 0;
}

.developer__link {
  &--text {
    font-family: @complementary-font;
    font-size: 16px;
    line-height: 16px;
    color: @second-line-text-color;
  }

  &--logo {
    display: block;
    width: 27px;
    height: 34px;
    background-color: lightblue;
  }
}
