.developer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 21px 0;

  @media @tablet {
    justify-content: flex-end;
    padding: 0;
  }
}

.developer__link {
  display: block;
  line-height: 0;

  @media @tablet {
    margin-right: 23px;
  }

  &:focus {
    outline: 2px solid #fdc305;
  }

  &:last-child {
    @media @tablet {
      margin-right: 0;
    }
  }

  &--text {
    font-family: @complementary-font;
    font-size: 16px;
    line-height: 16px;
    color: @second-line-text-color;

    &:active {
      opacity: 0.3;
    }
  }

  &--logo {
    display: block;
    width: 27px;
    height: 34px;

    &:hover .developer__icon,
    &:focus .developer__icon {
      fill: @corporate-color;
    }

    &:active .developer__icon {
      fill-opacity: 0.3;
    }
  }
}

.developer__icon {
  width: 27px;
  height: 34px;
  fill: #666666;
}
