.form {
  width: 100%;
}

.form__fieldset-positioner {
  @media @desktop {
    display: flex;
    justify-content: space-between;
    max-width: @desktop-wrapper;
    margin: 0 auto 68px auto;
  }
}

.form__fieldset {
  margin: 0;
  padding: 22px @indent-mobile;
  border: 0;

  @media @tablet {
    padding: 36px 70px;
  }

  @media @desktop {
    padding: 0;
  }

  &--data {
    @media @desktop {
      width: calc(50% - 40px);
    }
  }

  &--program {
    margin-bottom: 28px;
    border: 1px solid #ededed;

    @media @tablet {
      padding: 24px 27px;
      margin: 35px 67px 75px 72px;
    }

    @media @desktop {
      width: calc(50% - 40px);
      margin: 0;
    }

    & .form__field-wrapper {
      @media @tablet {
        margin-bottom: 13px;
      }
    }
  }

  &--title-visible {
    padding-top: 14px;
    padding-bottom: 14px;

    @media @tablet {
      padding-top: 33px;
      padding-bottom: 33px;
    }

    @media @desktop {
      display: flex;
      justify-content: space-between;
      max-width: @desktop-wrapper;
      margin: 0 auto;
    }
  }

  &--contacts {
    margin-bottom: 15px;

    @media @tablet {
      margin-bottom: 30px;
    }

    @media @desktop {
      margin-bottom: 33px;
    }

    & .form__field-wrapper {
      @media @desktop {
        margin: 0;
        width: calc(50% - 40px);
      }
    }
  }

  &--comment {
    margin-bottom: 10px;

    @media @tablet {
      margin-bottom: 28px;
    }

    @media @desktop {
      margin-bottom: 31px;
    }
  }

  &--additionally {
    @media @tablet {
      margin-bottom: 20px;
    }

    @media @desktop {
      margin-bottom: 28px;
    }

    & .form__field-wrapper {
      @media @tablet {
        width: 45%;
        margin-bottom: 32px;
        margin-right: 60px;
      }

      @media @desktop {
        width: calc(25% - 60px);
        margin: 0;
      }

      &:nth-child(2n) {
        @media @tablet {
          margin-right: 0;
        }
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
        @media @tablet {
          margin-bottom: 0;
        }
      }
    }

    & .form__label {
      margin: 0;
    }
  }
}

.form__fieldset-wrapper {
  @media @tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @media @desktop {
    justify-content: space-between;
    width: 100%;
  }
}

.form__title-wrapper {
  position: relative;

  &::after {
    position: absolute;
    top: 14px;
    content: "";
    height: 3px;
    width: 100%;
    background-color: @corporate-color;
    z-index: -1;

    @media @tablet {
      top: 23px;
    }
  }
}

.form__title {
  position: relative;
  margin: 0 @indent-mobile 20px @indent-mobile;
  font-family: @main-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @first-line-text-color;

  @media @tablet {
    margin: 0 @indent-tablet 44px @indent-tablet;
    font-size: 36px;
    line-height: 36px;
  }

  @media @desktop {
    max-width: @desktop-wrapper;
    margin: 0 auto 44px auto;
  }

  &--additionally {
    @media @tablet {
      margin-bottom: 24px;
    }

    @media @desktop {
      margin-bottom: 25px;
    }
  }
}

.form__title-text {
  display: inline-block;
  width: min-content;
  padding-left: @indent-mobile;
  padding-right: 22px;
  margin-left: -@indent-mobile;
  background-color: @white;

  @media @tablet {
    width: auto;
    padding-left: 40px;
    padding-right: 42px;
    margin-left: 0;
  }

  @media @desktop {
    margin-left: -40px;
  }
}

.form__field-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  @media @tablet {
    width: 100%;
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  margin-right: 13px;
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  color: @very-dark-gray;
  text-transform: uppercase;

  @media @tablet {
    margin-right: 17px;
    font-size: 20px;
    line-height: 20px;
  }
}

.form__input-text {
  min-width: 0;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid @light-gray;
  border-radius: 0;
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  color: @second-line-text-color;
  text-transform: uppercase;
  background-color: @white;

  @media @tablet {
    padding: 15px 20px;
    font-size: 20px;
    line-height: 20px;
  }
}

.form__input-option {
  margin: 0;

  & + .form__label {
    position: relative;
    padding: 5px 0 5px 46px;

    @media @tablet {
      padding: 10px 60px;
    }

    @media @desktop {
      padding: 10px 0 10px 60px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      border: 1px solid @light-gray;

      @media @tablet {
        width: 40px;
        height: 40px;
      }
    }
  }

  &--radio + .form__label::before {
    border-radius: 50%;
  }
}

.form__comment-field {
  width: 100%;
  height: 150px;
  padding: 13px;
  border: 1px solid @light-gray;
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  color: @second-line-text-color;
  text-transform: uppercase;
  background-color: @white;
  resize: none;

  @media @tablet {
    height: 174px;
    padding: 10px 17px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__bottom-block {
  @media @tablet {
    display: flex;
    align-items: center;
    padding: 0 70px;
  }

  @media @desktop {
    justify-content: space-between;
    max-width: @desktop-wrapper;
    margin: 0 auto;
    padding: 0;
  }
}

.form__send-btn {
  width: calc(100% - @indent-mobile * 2);
  margin: 21px @indent-mobile;
  padding: 10px 0;
  border: none;
  font-size: 16px;
  line-height: 20px;

  @media @tablet {
    width: 45%;
    padding: 16px 0;
    margin: 0 60px 0 0;
    font-size: 20px;
  }

  @media @desktop {
    width: calc(50% - 40px);
    margin: 0;
  }
}

.form__note {
  margin: 0 @indent-mobile;
  text-align: center;
  font-family: @complementary-font;
  font-size: 14px;
  line-height: 16px;
  color: @second-line-text-color;

  @media @tablet {
    width: 45%;
    margin: 0;
    font-size: 16px;
    text-align: left;
  }

  @media @desktop {
    width: calc(50% - 40px);
    padding-bottom: 5px;
  }
}
