.form__fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form__legend {
  font-family: @main-font;
  font-size: 24px;
  line-height: 24px;
  color: @first-line-text-color;
}

.form__label {
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  color: @very-dark-gray;
  text-transform: uppercase;
}

.form__input-text {
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  color: @second-line-text-color;
  text-transform: uppercase;
}

.form__comment-field {
  font-family: @main-font;
  font-size: 16px;
  line-height: 18px;
  color: @second-line-text-color;
  text-transform: uppercase;
}

.form__send-btn {
  font-size: 16px;
  line-height: 20px;
}

.form__note {
  font-family: @complementary-font;
  font-size: 14px;
  line-height: 16px;
  color: @second-line-text-color;
}
