.infographic {
  .clean-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
}

.infographic__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 44%;
  padding: 13px 0 17px 0;
  border: 1px solid @light-gray;
  border-radius: 3px;
}

.infographic__number {
  width: 100%;
  font-family: @main-font;
  font-size: 24px;
  line-height: 24px;
  color: @first-line-text-color;
  text-transform: uppercase;
  text-align: center;
}

.infographic__note {
  position: absolute;
  bottom: 0;
  width: 70%;
  padding: 0 10px;
  font-family: @complementary-font;
  font-size: 12px;
  line-height: 12px;
  color: @second-line-text-color;
  text-transform: lowercase;
  text-align: center;
  background-color: @very-light-gray;
  transform: translateY(65%);
}
