.main-nav__list {
  .clean-list();
}

.main-nav__link {
  display: block;
  padding: 22px 0 23px 0;
  border-bottom: 1px solid #e7e7e7;
  font-family: @main-font-medium;
  font-size: 20px;
  line-height: 20px;
  color: @first-line-text-color;
  text-transform: uppercase;
  text-align: center;
}
