.more-products-card {
  padding: 0 20px;
}

.more-products-card__title {
  margin: 0;
  font-family: @oswald-regular;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @first-line-text-color;
}

.more-products-card__text {
  margin: 0;
  font-family: @arial;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @second-line-text-color;
}

.more-products-card__show-all-link {
  padding: 10px 0;
  background-color: #f2f2f2;
  color: @second-line-text-color;
}
