.page-header {
  border-bottom: 1px solid #e7e7e7;

  @media @tablet {
    margin-bottom: 32px;
    border: none;
  }

  @media @desktop {
    position: relative;
    z-index: 2;
    margin-bottom: 0;
  }
}
