.product-groups {
  padding: 0 20px 20px 20px;
}

.product-groups__list {
  .clean-list();
}

.product-groups__item {
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.product-groups__item:last-child {
  margin-bottom: 0;
}

.product-groups__title {
  margin: 0;
  padding: 31px 0 31px 72px;
  font-family: @oswald-regular;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: @first-line-text-color;
  text-transform: uppercase;
}

.product-groups__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #cdcdcd;
  font-family: @arial;
  font-size: 14px;
  line-height: 18px;
  color: @second-line-text-color;
}

.product-groups__link {
  display: block;
  padding: 20px 0 21px 0;
  font-family: @oswald-regular;
  font-size: 16px;
  line-height: 16px;
  color: @first-line-text-color;
  text-transform: uppercase;
}
