.product-groups__list {
  .clean-list();
}

.product-groups__item {
  background-color: #f2f2f2;
}

.product-groups__title {
  font-family: @main-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: @first-line-text-color;
  text-transform: uppercase;
}

.product-groups__description {
  font-family: @complementary-font;
  font-size: 14px;
  line-height: 18px;
  color: @second-line-text-color;
}

.product-groups__link {
  font-family: @main-font;
  font-size: 16px;
  line-height: 16px;
  color: @first-line-text-color;
  text-transform: uppercase;
}
