.product-specification {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: @complementary-font;
  font-size: 12px;
  line-height: 16px;
  color: @second-line-text-color;

  @media @tablet {
    font-size: 16px;
  }
}

.product-specification__row {
  @media @tablet {
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
    border-bottom: 1px solid #cecece;
  }
}

.product-specification__title,
.product-specification__value {
  padding: 0;
}

.product-specification__title {
  font-weight: 400;
}

.product-specification__value {
  text-align: right;
}
