.program-selection-main {
  padding-top: 14px;

  @media @tablet {
    padding-top: 0;
  }
}

.program-selection-main__title {
  margin: 0 @indent-mobile 24px @indent-mobile;
  font-family: @main-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @first-line-text-color;

  @media @tablet {
    margin: 0 @indent-tablet 56px @indent-tablet;
    font-size: 60px;
  }

  @media @desktop {
    max-width: @desktop-wrapper;
    margin: 0 auto 40px auto;
    padding: 17px 0;
  }
}

.program-selection-main__instruction {
  margin: 0 @indent-mobile 19px @indent-mobile;
  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  color: @first-line-text-color;
  text-transform: uppercase;

  @media @tablet {
    width: 56%;
    margin: 0 @indent-tablet 30px @indent-tablet;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  @media @desktop {
    width: @desktop-wrapper;
    margin: 0 auto;
    padding: 0 800px 0 0;
  }
}

.program-selection-main__form {
  margin-bottom: 32px;

  @media @tablet {
    margin-bottom: 74px;
  }
}
