.program-selection-main__title {
  font-family: @main-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @first-line-text-color;
}

.program-selection-main__instruction {
  font-family: @main-font;
  font-size: 14px;
  line-height: 18px;
  color: @first-line-text-color;
  text-transform: uppercase;
}
