.promo-block {
  width: 280px;
  height: 289px;
  font-family: @complementary-font;
  font-size: 16px;
  line-height: 20px;
  color: @white;
  background: @corporate-color url("/img/gift-photo-mobile@1x.jpg") no-repeat center;
}
