.slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__scale {
  margin: 0 18px;
  padding: 3px 6px;
  width: 30%;
  height: 14px;
  border: 1px solid @light-gray;
  border-radius: 6px;
  background-color: @white;
}

.slider__scale-toggle {
  width: 50%;
  height: 6px;
  border-radius: 3px;
  background-color: @corporate-color;
}

.slider__btn {
  .button-reset();
  font-family: @main-font;
  font-size: 16px;
  line-height: 20px;
  color: @first-line-text-color;
  text-transform: uppercase;
  background-color: transparent;
}
