.social {
  .clean-list;
  display: flex;
  justify-content: center;
  padding: 21px 0 18px 0;
  height: 64px; //временно для сетки
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.social__item {
  width: 23px;
  height: 23px;
  margin: 0 16px;
  border: 1px solid lightblue; //временно для сетки
}
