.social {
  .clean-list();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 17px 0;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;

  @media @tablet {
    padding: 0;
    border: none;
  }
}

.social__item {
  display: flex;
  align-items: center;
  margin-right: 32px;
  padding: 3px 0;

  &:last-child {
    margin-right: 0;
  }

  @media @tablet {
    margin-right: 26px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;

  @media @tablet {
    width: 30px;
  }

  &:hover .social__icon,
  &:focus .social__icon {
    fill: @corporate-color;
  }

  &:focus .social__icon,
  &:active .social__icon {
    fill-opacity: 0.3;
  }

  &--fb {
    @media @tablet {
      justify-content: flex-start;
    }
  }
}

.social__icon {
  fill: #666666;

  &--vk {
    width: 22px;
    height: 12px;

    @media @tablet {
      width: 30px;
      height: 16px;
    }
  }

  &--ig {
    width: 17px;
    height: 17px;

    @media @tablet {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 10px;
    height: 19px;

    @media @tablet {
      width: 14px;
      height: 28px;
    }
  }
}
