.working-basics__title {
  font-family: @oswald-regular;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: @first-line-text-color;
}

.working-basics__list {
  .clean-list();
  margin: 0 20px;
}

.working-basics__item {

}
