@oswald-regular: "Oswald-regular", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@oswald-medium: "Oswald-medium", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@arial: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@corporate-color: #68b738;
@button-color: #ffffff;
@first-line-text-color: #111111;
@second-line-text-color: #444444;
