@main-font-regular: "Oswald-regular", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@main-font-medium: "Oswald-medium", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@complementary-font: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@corporate-color: #68b738;
@button-text-color: #ffffff;
@first-line-text-color: #111111;
@second-line-text-color: #444444;
@footer-bottom-block-bg: #f2f2f2;
