// Единицы плотности
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;

// Шрифты
@main-font: "Oswald", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@complementary-font: "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
@default-font: @complementary-font;

// Палитра цветов
@moderate-green: #68b738;
@dark-green: #5eaa2f;
@moderate-dark-green: #65aa38;
@white: #ffffff;
@mostly-black: #111111;
@very-dark-gray: #222222;
@dark-gray: #444444;
@very-light-gray: #f2f2f2;
@light-gray: #cdcdcd;
@light-gray-border: rgba(205, 205, 205, 0.5);

// Значения ширин
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1300px;
@desktop-wrapper: calc(@desktop-width - @indent-desktop * 2);

// Брейкпоинты
@tablet: ~"(min-width: @{tablet-width})";
@desktop: ~"(min-width: @{desktop-width})";

// Отступы
@indent-mobile: 20px;
@indent-tablet: 30px;
@indent-desktop: 40px;

// Фирменный цвет
@corporate-color: @moderate-green;

// Цвет текста
@first-line-text-color: @mostly-black;
@second-line-text-color: @dark-gray;
@default-color: @mostly-black;
@button-text-color: @white;

// Цвет фона
@bg-image-color: @moderate-dark-green;
@footer-bg-color: @very-light-gray;
@demo-example-bg-color: @very-light-gray;
@product-groups-bg-color: @very-light-gray;
@default-bg-color: @white;
